In [ ]:
# Instantiations
# Methods (ie. member function)
# Dot(.) operator
# Accessors: that returns the information about the state but do not change the state
# Mutators or Update methods: that do change the state

In [4]:
list1 = [3, 5, 2, 4, 3, 6, 9,8,7,10] # Literals
print(list1)

[3, 5, 2, 4, 3, 6, 9, 8, 7, 10]

In [9]:
list1.sort()

In [10]:
list1

[2, 3, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
type(list1)

list

In [20]:
response = "Flower Yellow"
response.lower()

'flower yellow'

In [12]:
response.startswith('y')

False

In [13]:
response

'Yellow'

In [22]:
response.lower().startswith('f') #Immediate calculations
print(response)

Flower Yellow

In [24]:
n = 10

In [25]:
type(n)

int

In [26]:
bool(list1)

True

In [27]:
emlist = []

In [28]:
bool(emlist)

False

In [32]:
n=0b111011

In [33]:
type(n)

int

In [34]:
print(n)

59

In [54]:
s= 100

In [55]:
hex(s)

'0x64'

In [56]:
aba = (1, 3, 4, 5)

In [57]:
type(aba)

tuple

In [62]:
abc = (1,)

In [63]:
type(abc)

tuple

In [64]:
set1 = set((1, 2, 3,4 ,6,5,7,4,3,7))

In [65]:
set1

{1, 2, 3, 4, 5, 6, 7}

In [66]:
set1.

TypeError: 'set' object is not subscriptable

In [67]:
set2 = set((2,5, 4, 6, 3))

In [68]:
set1.difference(set2)

{1, 7}

In [69]:
set1

{1, 2, 3, 4, 5, 6, 7}

In [70]:
set1.difference_update(set2)

In [71]:
set1

{1, 7}

In [72]:
set1.difference_update(set2)

In [73]:
set1

{1, 7}

In [74]:
set1.difference_update(set1)

In [75]:
set1

set()

In [76]:
set2

{2, 3, 4, 5, 6}

In [77]:
set2 = str(set2)

In [78]:
set2

'{2, 3, 4, 5, 6}'

In [79]:
set1.add(set2)

In [80]:
set1

{'{2, 3, 4, 5, 6}'}

In [81]:
list1 = [1, 2 ]
list2 = [3, 4]

In [82]:
list1.append(list2)

In [83]:
list1

[1, 2, [3, 4]]

In [87]:
list1[2][0]

3

In [90]:
aba.count(2)

0

In [91]:
aba.index(5)

3

In [92]:
aba.index(2)

ValueError: tuple.index(x): x not in tuple

In [93]:
seta = frozenset((1, 2, 3))

In [94]:
seta

frozenset({1, 2, 3})

In [97]:
person = {
    'name': ["Ramesh", "Jayaram"],
    'address': "kalanki",
    'level': "csit"
}

In [100]:
person['name'][1]

'Jayaram'

In [102]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def display(self):
        print(f"name: {self.name}")
        print(f"age: {self.age}")
        
p1 = Person("Ramesh", 22)
# p1.getname("Ramesh", 21)
p1.display()

name: Ramesh
age: 22